.nav-link {
  text-decoration: none;
  font-weight: 500;
  position: relative; 
  transition: all 0.3s ease;
  
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black; 
  transition: width 0.3s ease; 
}

.nav-link:hover::after {
  width: 100%; 
}




.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #1e3d59, #082036); 
  font-family: 'Arial', sans-serif; 
  overflow: hidden; 
}


.welcome-text {
  font-size: 4rem;
  font-weight: bold;
  color: #f8ecca;
 
  opacity: 0;
  transform: scale(0.5);
  animation: fadeInScale 2s ease-out forwards, shadowPulse 1.5s infinite ease-in-out;
}


@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


@keyframes shadowPulse {
  0% {
    
    text-shadow: 0 0 10px #f8ecca;
  }
  50% {
    
    text-shadow: #153b5d;
  }
  100% {
   
    text-shadow: #1e3d59;
  }
}
